*, *::before, *::after{
    box-sizing: border-box;
   
}


body {
    background-color: #FEF8F1;
    padding: 50px;
}



.firstimage img {
    display: flex;
    padding-bottom: 50px;
    padding-top: 50px;
    width: 100%;
}

header {
    background-color: #FEF8F1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10px;
    
}



.navlist {
    display: flex;
    font-size: 17px;
    gap: 24px;
}

.navlist a {
    text-decoration: none;
    color: #1B1B1B;
}

.dp p {
    font-size: 24px;
    color: #1B1B1B;
}

button{
    background-color: #F64F02 ;
    color: white;
    width: 100px;
    height: 30px;
    border: transparent;
    border-radius: 5px;
}

.section1 {
    background-color: #FEF8F1;
    padding: 10px;
    color: #1B1B1B;
}

.aboutus {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutus h1 {
    font-size: 55px;
    margin-bottom: 30px;
}

.whatwedo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whatwedo p {
   font-size: 20px;
    margin-top: 0px;
}

.button {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.motto {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.threepics {
    width: 100%;
    display: flex; 
    padding-bottom: 50px; 
    gap: 30px;
}

.picone {
    padding-top: 40px;
    height: 350px;
    width: 400px;
}

.pictwo {
    padding-top: 40px;
    height: 350px;
    width: 400px;
}

.picthree {
    padding-top: 40px;
    height: 350px;
    width: 400px;
}

.ourwork {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #FEF8F1;
    color: #1B1B1B;
    padding: 10px;
    padding-bottom: 80px;
}

.image {
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}


.beauty {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.beauty h1 {
    font-size: 50px;
    padding-top: 20px;
    margin-bottom: 0px;
}

.beauty p {
    margin-bottom: 0px;
    margin-top: 10px;
}

.workbtn {
    margin-top: 30px;
    width: 400px;
}

.review {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 20px;
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews h3 {
    margin-bottom: 0px;
}

#recentdesigns {
    background-color: #FEE7CC;
    margin: 0px;
    padding: 10px;
    color: #1B1B1B;
}

.recentdesigns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recentdesigns button {
    height: 40px;
}

.recentdesigns h2 {
    font-size: 60px;
    margin-bottom: 20px;
}

.houses {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    font-size: 18px;
}

.houses2 {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.ourprocess {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 0px;
}

.ourprocess h1 {
    font-size: 60px;
}

.pro {
    display: flex;
    gap: 40px;
}

.pro h6 {
    margin-top: 1px;
    font-size: 20px;
}

.pro strong {
    font-size: 20px;
}

.footerimages {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    width: auto;
    margin-top: 80px;
    padding: 0px;
}

footer {
    background-color: black;
    height: 200px;
}
